* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

.wheather-img {
  width: 20px;
  height: 20px;
  background-image: url(https://g.newsweek.com/img/weather/26.png);
  background-position: center center;
  background-size: cover;
}

.search-img {
  width: 25px;
  height: 25px;
  background-image: url(https://g.newsweek.com/www/images/icon-search-glass.svg);
  background-position: center center;
  background-size: cover;
}

.roboto {
  font-family: "Roboto Condensed", sans-serif;
}

.h-center {
  margin-left: auto;
  margin-right: auto;
}

.width-93 {
  width: 93%;
}

.marg-10 {
  margin: 10px;
}

.bc-white {
  background-color: white;
}

.gray-33 {
  color: #333;
}

.fs-17 {
  font-size: 17px;
}

.fs-13 {
  font-size: 13px;
}

.fs-22 {
  font-size: 22px;
}

.as-center {
  align-self: center;
}

.gray-bt {
  border-top: solid #555 1px;
}

.section-title {
  color: rgba(3, 3, 3, 0.4);
  font-weight: 600;
  font-size: 20px;
}

.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  margin-top: 10px;
}

.summary {
  color: #333;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.featured-story {
  margin-top: 25px;
}

.featured-story img {
  width: 100%;
  object-fit: cover;
}

.publicity .featured-story img {
  width: 100%;
  height: 196px;
  object-fit: cover;
}

.tag {
  padding: 5px 20px;
  color: red;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  font-weight: bold;
}

.sponsored-tag {
  color: #3581f4;
  font-weight: bold;
  padding: 5px 20px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.story-preview {
  position: relative;
}

.details {
  border: 1px solid #e6e6e6;
  padding: 20px;
}

/***********  NATA  *****************/
.small-container {
  background-color: #f4f5f7;
}

.sm-v-section {
  padding: 20px;
  margin-top: 20px;
}

/* TOP STORY SM */
.top-story {
  margin-top: 0;
}

/* THE DEBATE SM */
.the-debate h4 {
  border-bottom: rgba(3, 3, 3, 0.4) solid 3px;
  padding-bottom: 10px;
}

.person-card img {
  height: 60px;
}

.personal-details div {
  font-size: 14px;
}

.the-debate .personal-details h5 {
  font-size: 17px;
}

.gray-55 {
  color: #555;
}

.versus-hr {
  height: 5px;
  border-top: solid #555 1px;
  border-bottom: solid #555 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.versus-hr span {
  position: absolute;
  background-color: black;
  color: white;
  padding: 7px 10px;
  border-radius: 50%;
  left: 50%;
}

.versus-container {
  position: relative;
  height: 20px;
}

.sec-card {
  width: 70%;
  margin-left: auto;
}

.opinions .person-card {
  border-bottom: rgba(3, 3, 3, 0.4) solid 1px;
}

.opinions .personal-details div {
  margin-left: 0;
}

/* MORE STORIES SM */
.mstory-preview-s {
  padding-top: 15px;
}

.mstory-preview-s img {
  height: 96px;
  float: left;
  margin-right: 8px;
}

/* SIGN UP */
.signup {
  background-color: #f4f5f6;
  overflow: hidden;
}

/*    ALAN     */

.black {
  color: black;
}

.main-title-logo {
  width: 30px;
  height: 30px;
}

.itm-btn {
  background: #f4f5f6;
  cursor: pointer;
}

.itm-btn:hover {
  background: #dbdcdd;
}

.itm-img,
.itm-img-1,
.ep-img,
.bigs-img {
  width: 100%;
  object-fit: cover;
}

.itm-text-box p {
  background: #f72210;
}

.itm-text-box a {
  color: #f72210;
}

.itm-title:hover {
  color: black;
  text-decoration: underline !important;
  text-decoration-color: #f72210 !important;
}

.smalls-img {
  height: 95px;
  width: 95px;
  object-fit: cover;
}

/* position chaged  */

.sub-navbar li a {
  color: black;
}

.sub-navbar-2 li a {
  color: gray;
}

.sub-navbar li a:hover {
  color: #f72210;
}

.itm-text-box a,
.editors-text-box a {
  color: #f72210;
}

/* Media Queries */

@media (min-width: 768px) {
  .itm-img {
    height: 178px;
  }

  .ep-img {
    height: 236px;
  }
}

@media (min-width: 1024px) {
  .navbar-main-title {
    font-size: 80px;
  }

  .itm-img {
    height: 215px;
  }

  .ep-img {
    height: 146px;
  }
}

@media (min-width: 1440px) {
  .itm-img {
    height: 300px;
  }

  .ep-img {
    height: 194px;
  }

}