* {
  margin: 0px;
  padding: 0px;
  border: 0;
  font-family: sans-serif;
  list-style: none;
  box-sizing: border-box;
}

.wheather-img {
  width: 20px;
  height: 20px;
  background-image: url(https://g.newsweek.com/img/weather/26.png);
  background-position: center center;
  background-size: cover;
}

.sub-navbar li a {
  color: black;
}

.sub-navbar-2 li a {
  color: gray;
}

.sub-navbar li a:hover {
  color: #f72210;
}

.search-img {
  width: 25px;
  height: 25px;
  background-image: url(https://g.newsweek.com/www/images/icon-search-glass.svg);
  background-position: center center;
  background-size: cover;
}

.roboto {
  font-family: "Roboto Condensed", sans-serif;
}

.h-center {
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  color: rgba(3, 3, 3, 0.4);
  width: 93%;
  font-weight: 600;
  font-size: 20px;
}

.title {
  color: black;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  margin-top: 10px;
}

.summary {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.featured-story {
  width: 93%;
  margin-top: 25px;
}

.featured-story img {
  width: 100%;
  object-fit: cover;
}

.publicity .featured-story img {
  width: 100%;
  height: 196px;
  object-fit: cover;
}

.tag {
  background-color: white;
  padding: 5px 20px;
  color: red;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  opacity: 80%;
  font-weight: bold;
}

.sponsored-tag {
  color: #3581f4;
  font-weight: bold;
  background-color: white;
  padding: 5px 20px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  opacity: 80%;
}

.story-preview {
  position: relative;
}

.details {
  border: 1px solid #e6e6e6;
  padding: 20px;
}

/***********NATA*****************/
.small-container {
  background-color: #f4f5f7;
}

.sm-v-section {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* TOP STORY SM */
.top-story {
  margin-top: 0;
}

/*THE DEBATE SM */
.the-debate h4 {
  border-bottom: rgba(3, 3, 3, 0.4) solid 3px;
  padding-bottom: 10px;
}

.vs-section {
  width: 93%;
}

.person-card img {
  height: 60px;
  margin: 10px;
}

.personal-details {
  margin: 10px;
}

.personal-details div {
  margin: 10px;
  font-size: 14px;
}

.the-debate .personal-details h5 {
  margin: 10px;
  font-size: 17px;
}

.gray-55 {
  color: #555555;
}

.black {
  color: black;
}

.versus-hr {
  height: 5px;
  border-top: solid #555555 1px;
  border-bottom: solid #555555 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.versus-hr span {
  position: absolute;
  background-color: black;
  color: white;
  padding: 7px 10px;
  border-radius: 50%;
  left: 50%;
}

.versus-container {
  position: relative;
  height: 20px;
}

.sec-card {
  width: 70%;
  margin-left: auto;
}